h1 {
  font-size: 3rem;
  margin: 0;
}

input {
  background-color: rgb(228, 221, 221);
  border-radius: 16px;
  height: 3rem;
  margin: 0.5rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(63, 63, 63, 0.755);
}

.search-bar-container {
  margin: 1rem 0 1rem 0;
}

.submit-button {
  padding: 15px 0 10px 0;
  border-radius: 30px;
  background-color: rgb(40, 37, 220);
  border: blue;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(200, 198, 198);
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.submit-button:hover {
  background-color: rgba(22, 28, 117, 0.821);
}

.pokemon-display-area {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-button {
  background-color: grey;
  border: 2px solid rgb(67, 66, 66);
  border-radius: 10px;
  font-size: 4rem;
  cursor: pointer;
  width: 60px;
  height: 60px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background-color 0.1s; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.nav-button:hover {
  background-color: rgb(175, 156, 156);
}

/* .nav-button:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
} */

.pokedex-screen {
  background-color: rgb(201, 200, 200);
  border: 20px solid rgb(76, 75, 75);
  /* padding: 1.5rem; */
  margin: 0 auto;
  border-radius: 10px;
  width: 300px;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 1.7rem;
  /* padding-bottom: 1rem; */
}

.pokemon-pic {
  width: 200px;
  height: 200px;
}

.pokemon-id {
  font-size: 1.5rem;
}

.pokeType {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}
/* 
.type-label {
  font-size: 1rem;
  font-weight: bold;
} */

.type-element {
  font-size: 1rem;
  background-color: rgba(255, 217, 0, 0.547);
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.3);
}

.stats-button {
  padding: 5px 40px;
  border-radius: 10px;
  margin: 10px 10px 20px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.pokeStats {
  border: 1px solid black;
  margin: 0 30px;
  text-align: start;
  padding: 10px;
  background-color: white;
  text-transform: capitalize;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
}

.reset-button {
  padding: 10px 0;
  margin: 25px 0 15px 0;
  font-size: 1.5rem;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(0, 111, 0);
  color: white;
  border: 1px solid rgb(7, 47, 7);
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.reset-button:hover {
  background-color: rgba(67, 166, 67, 0.812);
}

.error-message {
  font-size: 1.5rem;
  color: rgb(2, 2, 2);
  background-color: rgba(246, 110, 110, 0.843);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 440px;
}
